# Supabase Configuration
SUPABASE_URL=https://ilhqerecxbywqrhfpbbc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_tMgdx9b0XBAQei7WcKYvMg_QwJ-lopn

# Google Apps Script Web App Endpoint
GOOGLE_SHEET_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzbydk8A6yPv0FcwI4QhhBEM5pAmW_ivNEbW3Mkb6GZYXjxIeEnUxvePC5vSjCq5CSy/exec

# Server Port
PORT=3000
