# Supabase Configuration
SUPABASE_URL=https://rmrbfecagwcojtoqeovk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_zOn1y93MF0x3CIy8MJ7I8Q_fQMkJ8x9

# Google Apps Script Web App Endpoint
GOOGLE_SHEET_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzbydk8A6yPv0FcwI4QhhBEM5pAmW_ivNEbW3Mkb6GZYXjxIeEnUxvePC5vSjCq5CSy/exec

# Server Port
PORT=3000
